.mar{
    padding: 2px;
}
title{
    color: blue;
}
h1{
    color: rgba(197, 8, 103, 0.829);
}
.mar{
    color: rgb(241, 234, 234);
}
p{
    border: 12in;
}
button{
    background-color: rgb(197, 8, 103, 0.829);
    color: rgba rgb(247, 247, 247);
    size: 12px;
    border-color: rgba(143, 73, 131, 0.904);
}
marquee{
    background-color: rgba(197, 8, 103, 0.712);
}
body{
    background-color: rgba(14, 143, 136, 0.6);
}
p{
    color: rgb(17, 15, 15);
}